<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Chat</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    
    <div hidden id="botId">
      <%= botId %>
    </div>

    <div class="chat">
      <div class="chat-container">
        <div class="user-bar">
          <div class="back">
            <i class="zmdi zmdi-arrow-left"></i>
          </div>
          <div class="name">
            <span>Zeno Rocha</span>
            <span class="status">online</span>
          </div>
        </div>
        <div class="conversation">
          <div class="conversation-container">
          </div>
          <form class="conversation-compose" method="POST">
            <input class="input-msg" name="input" placeholder="Type a message" autocomplete="off" autofocus></input>
            <button class="send">
                <div class="circle">
                  <i class="zmdi zmdi-mail-send"></i>
                </div>
              </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
    <script src="/sendMsg.js"></script>
  </body>

</html>
