<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Chat</title>

    <link rel="stylesheet" type="text/css" href="css/style.css"></link>
  </head>

  <body>
    <div class="chat">
        <div class="chat-container">
          <div class="user-bar">
            <div class="avatar">
              <img src="https://avatars2.githubusercontent.com/u/398893?s=128" alt="Avatar">
            </div>
            <div class="name">
              <span>Steeve</span>
              <span class="status">Online</span>
            </div>
        </div>
        <div class="conversation">
            <div class="conversation-container">
              <div class="message_sent">
              </div>
              <div class="message_received">
              </div>
            </div>
        </div>
    </div>
            
  </body>

</html>
