<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Chat</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
      <p>Veuillez sélectionner un bot avec lequel discuter</p>
      <ul>
          <% for(let i=0; i < botList.length; i++){ 
              let id = botList[i].id;
            %>
            <li class="bot">
              <a href="/bot/<%= id %>">
                <%= botList[i].name %>
              </a>
            </li>
          <% } %>
      </ul>
  </body>

</html>
