<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Chat</title>

    <link rel="stylesheet" type="text/css" href="css/style.css"></link>
  </head>

  <body>
      <p>Veuillez sélectionner un bot avec lequel discuter</p>
      <ul>
          cc
      </ul>
  </body>

</html>
