<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>Chat</title>

    <link rel="stylesheet" type="text/css" href="css/style.css"></link>
  </head>

  <body>
      <p>Veuillez sélectionner un bot avec lequel discuter</p>
      <ul>
          <% for(int i=botList.size()/2; i<botList.size(); i++){ 
              id = botList.get(i).getId();
            %>
            <li class="bot">
              <a href="/bot/" <%= id %>></a>
                <% botList.get(i).getName() %>
              </a>
            </li>
          <% } %>
      </ul>
  </body>

</html>
